<li class="{{decrementClass}}">
  <a {{action 'oneBack'}}  class='decrement'>
    <i class="mdi-navigation-chevron-left"></i>
  </a>
</li>
<li class="{{hiddenClass}}">
  <a {{action 'gotoPage' 1}}>
    {{min}}
  </a>
</li>

{{#each _pages as |page|}}
  <li class="firstHide">
    <span>...</span>
  </li>
  <li class="{{page.cssClass}}">
    <a {{action 'gotoPage' page.val}}>
      {{page.val}}
    </a>
  </li>
  <li class="secondHide">
    <span>...</span>
  </li>
{{/each}}
<li class="{{hiddenClass}}">
  <a {{action 'gotoPage' 14}}>
    {{max}}
  </a>
</li>
<li class="{{incrementClass}}">
  <a {{action 'oneFwd'}}  class='increment'>
    <i class="mdi-navigation-chevron-right"></i>
  </a>
</li>
